<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example1.practice1.mapper.CommentMapper">

<!-- 댓글 등록 -->
<insert id="commentInsert" parameterType="com.example1.practice1.domain.CommentDTO">
INSERT INTO REPLYTABLE
	(REPLYNO, REPLYWRITERID,REPLYCONTENTID,REPLYIP,REPLYDATE, REPLYTEXT)
VALUES (#{replyno}, #{replywriterid}, #{replycontentid}, #{replyip}, now(), #{replytext})
</insert>

<!-- 댓글 리스트 -->
<select id="commentList" parameterType="int" resultType="com.example1.practice1.domain.CommentDTO">
SELECT * 
FROM REPLYTABLE
WHERE replycontentid = #{replycontentid}
ORDER BY REPLYNO 
</select>

<!-- 댓글 수정 -->
<update id="commentUpdate" parameterType="com.example1.practice1.domain.CommentDTO">
UPDATE REPLYTABLE
SET REPLYTEXT = #{replytext}
WHERE REPLYNO = #{replyno}
</update>

<!-- 댓글 삭제 -->
<delete id="commentDelete" parameterType="int">
DELETE 
FROM REPLYTABLE
WHERE REPLYNO = #{replyno}
</delete>
</mapper>