<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example1.practice1.mapper.CartMapper">

<!-- 장바구니추가 -->
<insert id="cartInsert" parameterType="com.example1.practice1.domain.CartDTO">
INSERT INTO CARTTABLE
	(CARTNO, CARTPRODUCTID, CARTDATE, CARTUSERID, CARTAMOUNT)
VALUES (#{cartno},#{cartproductid},now(),#{cartuserid},#{cartamount})
</insert>

<!-- 장바구니 목록 보기 -->
	<select id="cartList" resultType="com.example1.practice1.domain.CartDTO">
	SELECT	cart.CARTNO, cart.CARTPRODUCTID, cart.CARTDATE, cart.CARTUSERID,
			pro.PRODUCTIMAGENAME, pro.PRODUCTIMAGEORINAME, pro.PRODUCTIMAGEURL, pro.productname, pro.productprice, pro.productsalescnt,pro.productdiscount
	FROM	CARTTABLE cart, PRODUCTTABLE pro
	WHERE	cart.CARTPRODUCTID = pro.PRODUCTNO
	ORDER BY PRODUCTNO DESC
	</select>

<!-- 장바구니 전체 금액 -->
<select id="sumMoney" resultType="int">
SELECT IFNULL(SUM(PRODUCTPRICE * PRODUCTSALESCNT),0) PRODUCTPRICE
FROM CARTTABLE cart, PRODUCTTABLE pro
WHERE cart.CARTPRODUCTID = pro.PRODUCTNO AND cart.cartuserid = #{cartuserid}
</select>

<!-- 장바구니삭제 -->
<delete id="cartDelete">
DELETE 
FROM CARTTABLE
WHERE CARTNO = #{cartno}
</delete>
</mapper>