<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example1.practice1.mapper.BoardMapper">

<!-- 게시글 등록 -->
<insert id="insertBoard" parameterType="com.example1.practice1.domain.BoardDTO">
INSERT	INTO	BOARDTABLE
			(BOARDNO, 		SUBJECT, 	CONTENT, 	WRITER, 	REGDATE, BOARDHIT)
	VALUES	(#{boardno},	#{subject},	#{content},	#{writer},	now(), #{boardhit} )

</insert>

 <!--게시글 목록보기   
<select id="boardList" resultType="com.example1.practice1.domain.BoardDTO">
SELECT *
FROM BOARDTABLE
ORDER BY boardno DESC

</select>-->

<!-- 파일올리기 
<insert id="fileInsert" parameterType="com.example1.practice1.domain.FileDTO" useGeneratedKeys="true">
INSERT INTO files
	(FNO, BNO, FILENAME, FILEORINAME, FILEURL)
VALUES (#{fno}, #{bno}, #{fileName} , #{fileOriName}, #{fileUrl})
</insert>-->

<!-- 게시글 페이징 -->
<select id="boardList" resultType="com.example1.practice1.domain.BoardDTO" parameterType="com.example1.practice1.domain.Criteria">
SELECT BOARDNO, 
		        SUBJECT, 
		        CONTENT,
		        WRITER, 
		        REGDATE,
		        BOARDHIT
		        
		 
FROM BOARDTABLE
WHERE 1=1

	<include refid="search"></include>
LIMIT #{rowStart}, #{rowEnd}	         	

	</select>

<!-- 게시글페이지 개수 -->
<select id="listCount" parameterType="com.example1.practice1.domain.SearchCriteria" resultType="int">

SELECT COUNT(boardno)
FROM BOARDTABLE
WHERE boardno > 0  <!-- 참이라는 의미,bno가 0이상인 데이터들을 모두 조회한다는 의미  -->
<include refid="search"></include>
</select>

<!-- 검색기능 -->
<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 's'.toString()">AND SUBJECT LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == 'sc'.toString()">AND (SUBJECT LIKE CONCAT('%',#{keyword},'%')) or (CONTENT LIKE CONCAT('%',#{keyword},'%'))</if>
		</if>
	</sql>

<!-- 게시글 상세보기 -->
<select id="detail" parameterType="int" resultType="com.example1.practice1.domain.BoardDTO">
SELECT * 
FROM BOARDTABLE
WHERE boardno = ${boardno}

</select>



<!-- bno에 해당하는 게시글의 정보를 수정한다. -->
<update id="update" parameterType="com.example1.practice1.domain.BoardDTO">
UPDATE	BOARDTABLE
SET		<if test="subject != null and subject !=''">subject = #{subject}</if>
		<if test="subject != null and subject !='' and content != null and content !=''"> , </if> <!-- ,의 의미는 여러개 넘어와야할때 사용. -->
		<if test="content != null and content !=''">content = #{content}</if>
WHERE	boardno	= #{boardno}
</update>

<!-- 게시글 삭제 -->
<delete id="delete">
DELETE FROM
BOARDTABLE
WHERE boardno = #{boardno}

</delete>



<!-- 파일업로드 목록보기 -->
<select id="uploadFileList" resultType="com.example1.practice1.domain.FileDTO" >
SELECT *
FROM files
limit 1
</select>

<!-- 검색기능 -->
<select id="searchList" resultType="com.example1.practice1.domain.BoardDTO">
SELECT *
FROM BOARDTABLE
limit 1
</select>

<!-- 댓글 -->
<select id="commentList" resultType="com.example1.practice1.domain.CommentDTO">
SELECT * 
FROM REPLYTABLE 
WHERE replycontentid = #{boardno} 
ORDER BY REPLYNO 
</select>

<!-- 게시글 조회수 -->
<update id="boardHit" parameterType="int">
	UPDATE BOARDTABLE
	SET boardhit = boardhit + 1
	WHERE boardno = #{boardno}
</update>
</mapper>